.not-found-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.not-found-container > h1 {
  font-size: 4rem;
  margin-bottom: 0rem;
}

.not-found-container > h3 {
  margin-bottom: 0rem;
}

.not-found-container > h4 {
  color: rgb(117, 117, 117);
  margin-bottom: 4rem;
}
