.page-content-container {
  max-height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.signup-form-container {
  width: 28%;
  display: flex;
  background-color: white;
  padding: 36px 40px 3.75rem 40px;
  border: 1px solid rgb(230, 230, 230);
}

.signup-form {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding: 2rem 0 0 0;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  max-width: 484px;
}

.signup-form input {
  display: block;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(230, 230, 230);
  border-radius: 8px;
  margin: 0;
  padding: 8px 12px;
  width: 100%;
}

.signup-form label {
  display: block;
  text-align: left;
}

.signup__title {
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  line-height: 36px;
  text-align: left;
}

.signup-form__email {
  display: flex;
  flex-direction: column;
}

.signup-form label {
  line-height: 24px;
  margin-bottom: 4px;
  font-weight: 500;
}
