.profile-main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.users-info-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-top: 4rem;
  gap: 2rem;
  margin-bottom: 4rem;
  /* width: 70%;
  height: 100%; */
}

.users-info-container > h1 {
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 63px;
}

.group-count-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid rgb(230, 230, 230);
}

.group-count {
  padding: 1rem 0;
}

.group-count > span {
  color: rgb(255, 255, 255);
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 2px 0.5rem;
  background-color: rgb(0 130 148);
  border-radius: 9999px;
  margin-right: 0.25rem;
}

.joined-groups-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.joined-groups {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.joined-groups > h2 {
  margin-bottom: 24px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.all-joined-groups {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.groups-joined-link {
  text-decoration: none;
  flex-basis: 30%;
}

.joined-group-details-container {
  display: flex;
  border: 1px solid rgb(230, 230, 230);
  padding: 0.75rem;
  border-radius: 0.5rem;
  align-items: center;
  min-height: 94px;
  gap: 1rem;
  margin-bottom: 1rem;
}

.joined-group-details__img {
  border-radius: 0.375rem;
  object-fit: cover;
  width: 68px;
  height: 68px;
}

.joined-group-details__name {
  line-height: 1.5rem;
  font-weight: 600;
  font-size: 1.25rem;
  color: rgb(0, 0, 0);
}

.profile-page-img {
  width: 20vw;
  height: 40vh;
  background-color: hsla(170, 45%, 34%, 0.341);
  border-radius: 50%;
  font-weight: 400;
  font-size: 6rem;
  color: rgb(17, 15, 15);
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
