.profile-button-container {
  cursor: pointer;
}

.profile-button {
  height: 50px;
  border-radius: 50%;
  width: 50px;
  background-color: hsla(170, 45%, 34%, 0.341);
  font-weight: 500;
  color: rgb(17, 15, 15);
  font-family: inherit;
  margin-right: 0.5rem;
  cursor: pointer;
}

.fa-caret-down {
  color: rgb(162, 162, 162);
  cursor: pointer;
}

.fa-caret-up {
  color: rgb(162, 162, 162);
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  inset: 5rem 1rem auto auto;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 0.25rem;
  z-index: 52;
  list-style: none;
  width: 190px;
  background: #ffffff;
}

.profile-button-your-profile {
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.profile-dropdown > li {
  cursor: pointer;
}

.profile-dropdown button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
