.nav-choice-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(217, 217, 217);
  margin-top: 2rem;
}

.nav-choice {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
}

.nav-choice-main-title {
  color: rgb(117, 117, 117);
  font-size: 1rem;
  font-weight: 400;
}

.nav-choice-link {
  margin-right: 1rem;
  text-decoration: none;
  color: rgb(117, 117, 117);
  font-size: 20px;
  font-weight: 500;
}

.selected {
  color: rgb(0, 130, 148);
  border-bottom: 4px solid rgb(0, 130, 148);
}
