.home-page-navigation__login {
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: 0;
  font-weight: 500;
  color: rgb(33, 33, 33);
  border: none;
  cursor: pointer;
  background: none;
}

.footer-login {
  text-decoration: none;
  color: rgb(197, 196, 196);
  font-size: 14px;
  cursor: pointer;
  margin: 4px 0px;
  border: none;
  background: none;
  cursor: pointer;
  text-align: start;
  padding: 0;
}

input,
textarea,
button {
  font-family: inherit;
}
